/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

img {
    max-width: 100%;
}

html{
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}

h1{
    font-size: 80px;
}

h2{
    font-size: 40px;
}

/* ROOT */

:root{
    --brand-color: #0061ff;
    --whithe-color: #ffffff;
}


/*LAYOUT*/

.container{
    max-width: 100%;
    margin: 0 auto;
}
.container-md{
    max-width: 1200px;
    margin: 0 auto;
}

.container-sm{
    max-width: 1000px;
    margin: 0 auto;
}

main > *:not(:first-child){
    padding-top: 150px;
}


.row{
    display: flex;
    flex-wrap: wrap;
}

.col-100{
    max-width: 100%;
}

.col-66 {
    width: calc((100% / 3) * 2);
}

.col-33 {
    width: calc(100% / 3);
}

.col-50{
    max-width:50%;
}

.col-60{
    max-width: 60%;
}

.col-40{
    max-width: 40%;

}





/*UTILITY*/
.dark-btn a{
    background-color: var(--brand-color);
    color: #ffffff;
}

.underline:hover {
    text-decoration: underline ;
}

.inline-block{
    display: inline-block;
}

/*WIDGET*/
.btn a{
    line-height: 30px;
    padding: 15px 10px;
    display: inline-block;
}



.white-btn {
    background-color: var(--whithe-color);
    border: 1px solid black;
    color: black;
    text-align: center;
}

/* HEADER */
.page-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 50px;
    padding: 15px 20px;
}

.nav-info,
.nav-action{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-nav a{
    padding: 10px 20px;
}

.nav-btn{
    background-color:var(--brand-color);
    color: white;
}

.down-arrow{
    font-size: 40px;
    
}



/*HERO*/

.hero{
    background-color: #B4D0E7;
    
}

.hero p{
    margin-bottom: 40px;
}

.hero .dark-btn,
.unistall{
    margin-bottom: 35px;

}
.hero .title-row{
    margin-bottom: 40px;
}

.prova{
    transform: translate(0, 100px);
}

.down-arrow{
    font-size: 40px;
    font-weight: bold;
}



/* BUSINESS PLAN SECTION*/
.business-plan .container-sm{
    display: flex;
    row-gap: 50px;
    flex-wrap: wrap;
}

.shop-plan{
    height: 20px;
    width: 20px;
    border-radius: 999px;
    background-color: #ffffff;
    border: 2px solid gray;
    margin-right: 5px;
}
.shop-plan:active{
    border: 5px solid var(--brand-color);
}

.shop-button{
    margin-right: 50px; 
        
}

.business-plan h2{
    margin-bottom: 65px;
}

.business-card{
    padding: 0 25px;
}

.business-card-content{
    border: 1px solid black;
    padding: 0 30px;
    height: 100%;
}

.plan-id{
    text-align: center;
    padding: 5px 0;
    border-top: 1px  solid black;
    border-left: 1px  solid black;
    border-right: 1px  solid black;
}

.business-card h3{
    font-size: 22px;
    padding:  35px 0px 20px 0px;
}

.business-card .price{
    font-weight: bold;
    margin-bottom: 18px;
}

.business-card .period{
    color: gray;
    margin-bottom: 50px;
}

.business-card .service-avaible>*{
    margin-bottom: 25px;
}

.business-card .btn{
    margin: 30px 0px;
}

.business-card .cta-buy a{
    padding: 5 px;
    text-decoration: underline;
    color: #7171F5;
    font-weight:bold ;
}

.business-card hr{
    margin: 50px 0;
    max-width: 20%;
    color: black;
}


h4{
    margin-bottom:  30px; 
}

.plan-description li{
    margin-bottom: 25px;
}


.plan-description i{
    color: var(--brand-color);
    font-weight: bold;
}

.business-plan .teams{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.business-title{
    margin: 0 30px
}
.business-plan .btn a{
    width: 100%;
    text-align: center;
}
/* partner SECTION*/

.partner-box{
    padding: 0 25px;
}

.partner-description{
    padding: 50px;
}

.partner p{
    margin: 25px 0;
}

.partner .btn{
    max-width: 60%;
}



/* TASK SECTION*/






/* COLLAB SECTION*/





/*FAQ SECTION*/




/*FOOTER*/