/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

img {
    max-width: 100%;
}

html{
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}

h1{
    font-size: 80px;
}

h2{
    font-size: 40px;
}

/* ROOT */

:root{
    --brand-color: #0061ff;
    --whithe-color: #ffffff;
    --light-blue:#B4D0E7;
    --light-green: #D1E9CD;
    --designit-green: #A2D39B;
    --arizona-porpora: #61082B;
    --florida-blu: #0093CE;
    --topps-red: #FF1C1C;
    --bicycle-dark-red:#D5001F;
    --dark-blue:#0D2481;
    --clear-yellow:#FFD830;
    --light-gray:#F5F5F5;


}


/*LAYOUT*/

.container{
    max-width: 100%;
    margin: 0 auto;
}
.container-md{
    max-width: 1200px;
    margin: 0 auto;
}

.container-sm{
    max-width: 1000px;
    margin: 0 auto;
}

main > *:not(:first-child){
    padding-top: 150px;
}


.row{
    display: flex;
    flex-wrap: wrap;
}

.col-100{
    width: 100%;
}

.col-66 {
    width: calc((100% / 3) * 2);
}

.col-33 {
    width: calc(100% / 3);
}

.col-50{
    width:50%;
}

.col-60{
    width: 60%;
}

.col-40{
    width: 40%;

}

.col-20{
    width: 20%;
}




/*UTILITY*/
.dark-btn a{
    background-color: var(--brand-color);
    color: #ffffff;
}

.underline:hover {
    text-decoration: underline ;
}

.inline-block{
    display: inline-block;
}

.bg-light-green{
    background-color: var(--light-green);
}

.bg-green{
    background-color: var(--designit-green);
}

.bg-porpora{
    background-color: var(--arizona-porpora);
}

.bg-azure{
    background-color: var(--florida-blu);
}

.bg-red{
    background-color: var(--topps-red);
}

.bg-light-gray{
    background-color: var(--light-gray);
}

.bg-dark-red{
    background-color: var(--bicycle-dark-red);
}

.bg-light-blue{
    background-color: var(--light-blue);
}

.bg-blue{
    background-color: var(--dark-blue);
}

.bg-yellow{
    background-color: var(--clear-yellow);
}



/*WIDGET*/
.btn a{
    line-height: 30px;
    padding: 15px 10px;
    display: inline-block;
}



.white-btn {
    background-color: var(--whithe-color);
    border: 1px solid black;
    color: black;
    text-align: center;
}

/* HEADER */
.page-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.nav-info,
.nav-action{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-nav a{
    padding: 10px 20px;
}

.nav-btn{
    background-color:var(--brand-color);
    color: white;
}

.down-arrow{
    font-size: 40px;
    
}

.nav-info img{
    display: block;
}


/*HERO*/

.hero{
    background-color: var(--light-blue);
    
}
 
.hero p{
    font-size: 18px;
}

.unistall{
    flex-grow: 1;
}
.hero .title-row{
    margin-bottom: 40px;
}

.hero-description{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
    gap: 30px;
}

.prov{
    transform: translate(0, 100px);
}

.down-arrow{
    font-size: 40px;
    font-weight: bold;
    justify-self: flex-end;
}



/* BUSINESS PLAN SECTION*/
.business-plan .container-sm{
    display: flex;
    row-gap: 50px;
    flex-wrap: wrap;
}

.shop-plan{
    height: 20px;
    width: 20px;
    border-radius: 999px;
    background-color: #ffffff;
    border: 2px solid gray;
    margin-right: 5px;
}
.shop-plan:active{
    border: 5px solid var(--brand-color);
}

.shop-button{
    margin-right: 50px; 
        
}

.business-plan h2{
    margin-bottom: 65px;
}

.business-card{
    padding: 0 25px;
}

.business-card-content{
    border: 1px solid black;
    padding: 0 30px;
    height: 100%;
}

.plan-id{
    text-align: center;
    padding: 5px 0;
    border-top: 1px  solid black;
    border-left: 1px  solid black;
    border-right: 1px  solid black;
}

.business-card h3{
    font-size: 22px;
    padding:  35px 0px 20px 0px;
}

.business-card .price{
    font-weight: bold;
    margin-bottom: 18px;
}

.business-card .period{
    color: gray;
    margin-bottom: 50px;
}

.business-card .service-avaible>*{
    margin-bottom: 25px;
}

.business-card .btn{
    margin: 30px 0px;
}

.business-card .cta-buy a{
    padding: 5 px;
    text-decoration: underline;
    color: #7171F5;
    font-weight:bold ;
}

.business-card hr{
    margin: 50px 0;
    max-width: 20%;
    color: black;
}


h4{
    margin-bottom:  30px; 
}

.plan-description li{
    margin-bottom: 25px;
}


.plan-description i{
    color: var(--brand-color);
    font-weight: bold;
}

.business-plan .teams{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.business-title{
    margin: 0 30px
}
.business-plan .btn a{
    width: 100%;
    text-align: center;
}
/* partner SECTION*/

.partner-box{
    padding: 0 25px;
}

.partner-description{
    padding: 50px;
}

.partner p{
    margin: 25px 0;
}

.partner .btn{
    max-width: 60%;
}



/* OPERATION SECTION*/

.operation-card{
    padding: 25px 0;
}

.operation-card p{
    margin: 20px 0;
}

.operation h2{
    margin-bottom: 40px;
}

.operation .col-100,
.operation .col-33{
    padding: 0 25px;
}


/* USERS SECTION */
.users .col-100{
    padding: 0 25px;
}

.users a{
    color: var(--brand-color);
    text-decoration: underline;
    margin-top: 50px;
    display: block;
}

/* COLLAB SECTION*/
.collab .img{
    display: block;

}

.logo-border{
    padding: 15px;
    
}

.aziend-logo{
    padding: 70px;
    display: flex;
    color: white;
    text-align: center;
    align-items: center;
    aspect-ratio: 1;

}

.main-logo{
    max-width: 60%;
    margin-bottom: 30px;
}

.collab-description{
    padding: 40px;
}

.style-element{
    width: 80px;
    height: 30px;
    border-top: 1px solid black;
}

.collab p{
    margin-bottom: 50px ;
}

.collab .cta-free{
    padding:125px 0 ;
}

.cta-free .white-btn{
    border: none;
}

/*FAQ SECTION*/

.questions{
    display: flex;
    justify-content: space-between;
    line-height: 90px;
    border-bottom: 1px solid black;
}

.faq-chevron{
    margin-right: 40px;
}

.faq-title{
    line-height: 150px; 
    border-bottom: 2px solid black;
}

.faq{
    padding:100px 0;
}
/*FOOTER*/